# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
test-output/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/
*.factorypath

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea
yytest-web/src/test/java/com/yonyou/tsupport/yytest/web/zhuruis/TestTask.java
yytest-web/src/test/java/com/yonyou/tsupport/yytest/web/zhuruis/TestNode.java
yytest-web/src/test/java/com/yonyou/tsupport/yytest/web/zhuruis/TestFlow.java
yytest-web/src/main/resources/config.properties
yytest-web/src/test/java/com/yonyou/bip/企业销售信息PageAction.java
yytest-web/src/test/java/com/yonyou/bip/企业销售信息TestCase.java
yytest-web/src/test/java/com/yonyou/bip/融资申请PageAction.java
yytest-web/src/test/java/com/yonyou/bip/融资申请TestCase.java
yytest-web/src/test/java/com/yonyou/bip/订单中心Po.java
